/*GENERALES*/
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
a {
    color: #3f729b;
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

/*container*/
#content {
    position: relative;
    z-index: 0;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}

.is-ciudad, .box-diario
{
    width: 20%;
}

/*headers*/
.header-container-diario {
    background-color: #3F2C5D;
}
.is-ciudad .header-container-diario {
    right: 80%;
}
.header-container {
    position: static;
    height: 50px;
    z-index: 20;
    top: 0;
    right: 0;
    will-change: transform;
}
.header-logo {
    padding: 0 20px;
}
/* cajas diario */
.paginas-diario {
    position: relative;
}
.box-content-header {
    height: 50px;
    position: relative;
    z-index: 50;
}
.box-125, .box-130, .box-142, .box-180 {
    background-color: #FFF;
}
.can-be-fixed-column .js-fixeable
{
    width: 304px;
}

.is-ciudad .box{
    margin-bottom: 2px;
}
.page-image.lazyloaded {
    opacity: 1;
}
.box img {
    width: 100%;
}
.box-125 img, .box-130 img, .box-142 img, .box-180 img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.box {
    position: relative;
    min-height: 1px;
}
.box .page-number {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    z-index: 1;
}
.box .page-number {
    background-color: rgba(63,44,93,.8);
}

.paginas-diario>div>div {
    background-color: #5a4a72;
}

.paginas-diario>div>div {
    min-height: 1000px;
    padding: 14px;
}
.box-130 {
    padding-top: 129.736%;
}

.box-ciudad {
    width: 80%;
}
.box-content {
    float: left;
    min-height: 1px;
    position: relative;
}
.box-content-header {
    height: 50px;
    position: relative;
    z-index: 50;
}

.is-ciudad .box-diario .box-ciudad .header-container-ciudad {
    left: 20%;
}
.grm-searchbox, .header-container-ciudad, .modal-fullscreen .modal-header {
    border-top-color: #db0000;
    background-color: red;
}
.nav-toggle-padding {
    float: left;
    height: 50px;
    margin-left: 20px;
    position: relative;
}
.nav-toggle {
    height: 36px;
    width: 36px;
    padding: 8px;
    border: 2px solid #f9f9f9;
    margin-top: 7px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.428571429;
    user-select: none;
}
.pull-left {
    float: left!important;
}
.icon-bar {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.icon-bar+.icon-bar {
    margin-top: 6px;
}
[class*=" icon-"], [class^=icon-] {
    vertical-align: middle;
    margin-top: -1px;
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.sidebar-header-title {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 299px;
    display: none!important;
}
.header-logo {
    height: 50px;
    max-width: 100%;
    white-space: nowrap;
    
    padding: 0 20px;
}
.is-ciudad .header-logo-ciudad {
    display: inline-block;
}
.header-logo img, .header-logo svg {
    max-width: 100%;
    width: auto!important;
}
.back-to-soychile {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-right: 360px;
    margin-top: 0;
    font-size: 12px;
    color: #fff;
    letter-spacing: .3px;
}
.back-to-soychile {
    margin-right: 360px;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.top-nav-diario {
    position: absolute;
    top: 10px;
    right: 0;
    margin-bottom: 0;
}

/*columna central*/
.destacadas-content{
    min-height: 0px;
}
.home-section {
    display: flex;
}
.home-section section {
    padding-left: 14px;
}
.home-section .media.media-destacadas {
    flex: 0 0 50%;
}
.media-destacadas .media-text {
    overflow: visible;
}

.media-heading {
    font-family: Adelle;
    color: #000;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased;
}

.media-heading {
    line-height: 1.2;
}
.media-heading {
    margin: 0;
}
.media-body {
    clear: both;
}
.media-destacadas[data-type="text"]:first-child .media-heading {
    font-size: 26px;
}
aside {
    flex: 0 0 280px;
    margin-left: 14px;
    margin-top: 14px;
}
.icon-city.icon-city-valparaiso {
    background-color: #7D9322;
}